
.clear:after {
    content: '';
    display: table;
    clear: both;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inner {
  display: inline-block;
}
.icon {
    display: inline-block;
}
.icon-search{
    color:#45d5a6;
}
.flex{
    display:flex;
}
.flex-item{
    flex:1;
}
.left,
.fl {
    float: left;
}

.right,
.fr {
    float: right;
}
.center{
    margin:0 auto;
}

.icon-other {color: #abb7b3   ;}
.icon-avi   {color: #c90000   ;}
.icon-tmp   {color: #738ade   ;}
.icon-rar   {color: #c140b5   ;}
.icon-zip   {color: #00c3ff   ;}
.icon-swf   {color: #f65b4f   ;}
.icon-flv   {color: #c90000   ;}
.icon-jpg   {color: #88b6dd   ;}
.icon-png   {color: #7d88ef   ;}
.icon-svg   {color: #6b2810   ;}
.icon-mp    {color: #f49b00   ;}
.icon-word  {color: #4c7bbf   ;}
.icon-excel {color:#00bb89    ;}
.icon-doc   {color:#4c7bbf    ;}
.icon-mp4   {color:#9c6de8    ;}
.icon-txt   {color:#79c6f3    ;}
.icon-pdf   {color:#c90000    ;}
.icon-docx  {color:#4c7bbf    ;}
.icon-pptx  {color:#f26666    ;}
.icon-ppt  {color:#f26666    ;}
.icon-xlsx  {color:#00bb89    ;}
.icon-xls   {color:#00bb89    ;}

.icon,
[class^='icon-'],
[class*=" icon-"]{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[v-cloak] {
    display:none;
}