$-primary--color:#007fff;
$-color--main: #333333;
$-color--white: #ffffff;
$-color--secondary: #c1c1c1;
$-color--666: #666666;
$-color--vice: #999999;
$-primary-border--color: #f0eeee;
$-dialog-header--bg: #F9F9F9;